* {
    box-sizing: border-box;
}

.game-title {
    width: 512px;
    padding-left: 60px;
    margin: 20px;
    
}
.square {
    width: var(--square-size);
    height: var(--square-size);
    /* border: solid grey 1px; */
}

#grid-squares {
    touch-action: none;
    border: dashed black 0px;
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
    background-color: rgb(235, 235, 235);
    margin-left: 20px;
}

.square.drawn {
    background-color: rgba(
        var(--ink-r), 
        var(--ink-g), 
        var(--ink-b), 
        var(--alpha));
}

.controls {
    margin: 20px;
}

.canvas {
    width: 512px;
}