* {
    box-sizing: border-box;
}

.game-title {
    margin: 20px;
    
}
.square {
    background: red;
    width: var(--square-size);
    height: var(--square-size);
    /* border: solid grey 1px; */
}

#grid-squares {
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
}

/* .square:hover {
    background-color: black;
} */

.square.drawn {
    background-color: blue;
}

.controls {
    margin: 20px;
}