* {
    box-sizing: border-box;
}

.game-title {
    width: 512px;
    padding-left: 60px;
    margin: 20px;
    
}
.square {
    width: var(--square-size);
    height: var(--square-size);
    /* border: solid grey 1px; */
}

#grid-squares {
    border: dashed black 0px;
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
    background-color: rgb(235, 235, 235);
    margin-left: 20px;
}

.square.drawn {
    background-color: rgba(0, 0, 255, var(--alpha));
    /* background-color: var(--ink); */
}

.controls {
    margin: 20px;
}

.canvas {
    width: 512px;
}