* {
    box-sizing: border-box;
}

.game-title {
    margin: 20px;
    
}
.square {
    width: var(--square-size);
    height: var(--square-size);
    /* border: solid grey 1px; */
}

#grid-squares {
    border: dashed black 5px;
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
    background-color: rgb(250, 250, 255);
}

/* .square:hover {
    background-color: black;
} */

.square.drawn {
    background-color: var(--ink);
}

.controls {
    margin: 20px;
}